name: "build"

on: push

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: "create bin directory"
      run: |
       mkdir -p /home/runner/bin
       echo "::add-path::/home/runner/bin"
    - name: "install vessel"
      run: |
       wget --output-document /home/runner/bin/vessel https://github.com/kritzcreek/vessel/releases/download/v0.5.1-alpha/vessel-linux64
       chmod +x /home/runner/bin/vessel
    - name: "verify"
      run: vessel verify --version 0.4.5
